h1 {
  padding-left: 1em;
}

h2 {
    padding-left: 1em;
}


.row{
padding-left: 0em;
background-color: white;
max-width: 100%;

}

.dashboardRow{
              background-color: teal;
}

.dashboardBox{
              background-color: white;
              align-content: center;
              text-align: center;

}

.dashboardsubnote{
  font-size: 1.5em;
  color: grey;
}


.dashboardBoxTitle{
font-size: 2em;
font-weight: bold;
color: darkblue;
padding-bottom: 1em;
padding-top: 1em;
}

.dashboardBoxValue{
  font-size: 5em;
  font-weight: bold;
  color: black;
  padding-bottom: 0.5em;
}

.rowSpacer{
  display: block;
}
